<div class="form-row">
    <ng-container
        #loginButton
        *ngIf="(user$ | async) === null; else logoutButton">
        <p>Already registered?</p>
        <button (click)="login()">Login</button>
    </ng-container>
    <ng-template #logoutButton>
        <p *ngIf="user$ | async as user">
            {{ user.fullName }}<br />
            {{ user.zipCode }} {{ user.city }}<br />
            {{ user.street }}
        </p>
        <button (click)="logout()">Logout</button>
    </ng-template>
</div>

<ng-container *ngIf="form$ | async as form" [formGroup]="form">
    <form *ngIf="form.visible">
        <ng-container
            *ngIf="form.controls.address.visible"
            formGroupName="address">
            <h3>Shipping Address</h3>

            <div class="form-row">
                <p>Full Name</p>
                <input formControlName="fullName" />
            </div>

            <div class="form-row">
                <p>Zip Code</p>
                <input formControlName="zipCode" />
            </div>

            <div class="form-row">
                <p>City</p>
                <select
                    formControlName="city"
                    *ngIf="
                        form.controls.address.controls.city.visible;
                        else cityValue
                    ">
                    <ng-container
                        *ngIf="
                            form.controls.address.controls.city
                                .options as options
                        ">
                        <option
                            *ngIf="
                                !form.get('address.city')?.value &&
                                !!form.get('address.city')?.enabled
                            "
                            value="">
                            Please select...
                        </option>
                        <option
                            *ngIf="
                                !form.get('address.city')?.value &&
                                !!form.get('address.city')?.disabled
                            "
                            value="">
                            Please enter a valid zip code first
                        </option>
                        <option
                            *ngFor="let option of options"
                            [selected]="
                                form.get('address.city')?.value === option
                            ">
                            {{ option }}
                        </option>
                    </ng-container>
                </select>
                <ng-template #cityValue>
                    <span
                        class="value"
                        [class.disabled]="form.get('address.city')?.disabled"
                        >{{ form.get('address.city')?.value }}</span
                    >
                </ng-template>
            </div>

            <div class="form-row">
                <p>Street / No.</p>
                <input formControlName="street" />
            </div>
        </ng-container>

        <div class="form-row">
            <p>Method</p>
            <div class="controls">
                <label *ngFor="let option of form.controls.method.options">
                    <input
                        [value]="option"
                        type="radio"
                        formControlName="method" />
                    {{ option }}
                </label>
            </div>
        </div>
    </form>
    <button (click)="submit()">OK</button>
</ng-container>

<pre>{{ (form$ | async)?.value | json }}</pre>
